<h1>Hi, Test App Here</h1>

<%= link_to 'Log In Using Line', @authorization_url %>

<% if defined? (@response) %>
  <h1>User Info</h1>
  <p>
    Id: <%= @user_info['userId'] %>
  </p>

  <p>
    User's Name: <%= @user_info['displayName'] %>
  </p>

  <p>
    <%= image_tag(@user_info['pictureUrl']) %>
  </p>

  <p>
    Status:
    <% if @user_info['statusMessage'] %>
      <%= @user_info['statusMessage'] %>
    <% end %>
  </p>
<% end %>

<h1>Send Message to All Users</h1>
<%= form_for :message, url: send_message_path, method: :get do |form| %>
  <%= form.text_field :name %>
  <% @users.each do |user| %>
    <%= check_box_tag 'user_ids[]', user.line_id %>
    <%= h user.line_name %>
  <% end %>
  <%= form.submit 'Send'  %>
<% end  %>
